#contactus {
  .row > div {
    margin: 0 auto;
  }

  textarea {
    height: 12rem;
  }

  .fm-label {
    margin-top: 15px;
    display: block;
  }

  .fm-input {
    display: block;
    width: 100%;
  }

  .fm-textarea {
    width: 100%;
  }

  #submit-button > div {
    margin-top: 15px;
    transition: all 2s ease;
  }
}
