#contact-us {
  .row > div {
    margin: 0 auto;
  }

  textarea {
    height: 12rem;
  }

  .form-label {
    margin-top: 15px;
    display: block;
  }

  .form-control {
    display: block;
    width: 100%;
  }

  #submit-button > div {
    transition: all 2s ease;
  }
}
