#news {


  #results {

    h3 {
      display: block;
      width: 100%;
    }

    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    p {
      font-size: 1.4rem;
      text-align: left;
      flex: 1;
      max-width: 33%;
      min-width: 33%;
      padding: 10px 10px;
    }
  }

  span {
    display: block;
    clear: both;
  }

  span.bold {
    font-weight: bold;
  }
}
